<html>
    <head>
        <title>{% if pdf_title %}{{ pdf_title }}{% else %}PDF{% endif %}</title>

    </head>
    <body>
        <header>
			<h1>Invoice</h1>
          <div class = "header">
			<address>
				<p>{{data.sender_name}}</p>
				<p>{{data.sender_address}}</p>
				<p>{{data.sender_phone}}</p>
			</address>
            <address>
                <h2>Bill to:</h2>
				<p>{{data.customer_name}}</p>
                <p>Invoice Number: {{data.invoice_number}}</p>
                <p>Amount: {{data.invoice_amount}}$</p>
				<p>Invoice Date: {{data.invoice_date}}</p>
                <p>Due Date: {{data.due_date}}</p>
            </address>
            </div>
        </header>
        <table >
          <thead>
          <tr>
              <th class= "date">Date</th>
              <th class= "task"> Task</th>
              <th class= "small">Hour</th>
              <th class= "small">Rate</th>
              <th class= "small">Total</th>
          </tr>
            </thead>
          <tbody>
          {%for row in data.df %}
          <tr>
              <td class= "date">{{row.Date}}</td>
              <td class= "task">{{row.Tasks}}</td>
              <td class= "small">{{row.Hours}}</td>
              <td class= "small">{{row.Rate}}</td>
              <td class= "small">{{row.Total}}</td>
          </tr>
          {% endfor %}
            <thead >
              <td class= "date">{{""}}</td>
              <td class= "task">{{""}}</td>
              <td class= "small">{{""}}</td>
              <td class= "small">Total</td>
              <td class= "small">{{data.invoice_amount}}$</td>
          </thead>
            </tbody>
        </table>
    </div>
    </body>
</html>
